@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Regular.ttf');
    font-style: normal;
}
.epoch-dark {
    background-color: #1E1E24;
    color: #1E1E24;
}

.epoch-child-dark {
    background-color: #1E1E24;
    color: #1E1E24;
}

.epoch-light {
    background-color: #EEF0F2;
    color: #EEF0F2;
}
.epoch-light-text {
    color: #EEF0F2;
}
.epoch-child-light * {
    color: #EEF0F2;
}

.epoch-font {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}