[Unit]
Description=Slurm Queue GUI
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/slurm-queue-gui/index.js
Restart=always
WorkingDirectory=/opt/slurm-queue-gui
User=slurm-queue-gui

[Install]
WantedBy=multi-user.target
